{{ define "main" }}
<section id="main">
    <header class="post-header"><h1 class="post-title entry-hint-parent">{{ .Title }}</h1><div class="post-meta"></div></header>
    <div>
        <div class="container">
            <div>
                {{ $image := resources.Get "hero.png" }}
                <img src="{{ $image.RelPermalink }}" alt="hero">
            </div>
            <div>
                <div class="post-content">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}

