{{- define "main" }}

<article class="post-single">
    <header class="post-header">
        {{ partial "breadcrumbs.html" . }}
        <h1 class="post-title entry-hint-parent">
            {{ .Title }}
            {{- if .Draft }}
            <span class="entry-hint" title="Draft">
        <svg xmlns="http://www.w3.org/2000/svg" height="35" viewBox="0 -960 960 960" fill="currentColor">
          <path
            d="M160-410v-60h300v60H160Zm0-165v-60h470v60H160Zm0-165v-60h470v60H160Zm360 580v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T862.09-380L643-160H520Zm300-263-37-37 37 37ZM580-220h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z" />
        </svg>
      </span>
            {{- end }}
        </h1>
        {{- if .Description }}
        <div class="post-description">
            {{ .Description }}
        </div>
        {{- end }}
        {{- if not (.Param "hideMeta") }}
        <div class="post-meta">
            {{- partial "post_meta.html" . -}}
            {{- partial "translation_list.html" . -}}
            {{- partial "edit_post.html" . -}}
            {{- partial "post_canonical.html" . -}}
        </div>
        {{- end }}
    </header>
    {{- $isHidden := (.Param "cover.hiddenInSingle") | default (.Param "cover.hidden") | default false }}
    {{- partial "cover.html" (dict "cxt" . "IsSingle" true "isHidden" $isHidden) }}
    {{- if (.Param "ShowToc") }}
    {{- partial "toc.html" . }}
    {{- end }}

    {{- if .Content }}
    <div class="post-content">
        {{- if not (.Param "disableAnchoredHeadings") }}
        {{- partial "anchored_headings.html" .Content -}}
        {{- else }}{{ .Content }}{{ end }}
    </div>
    {{- end }}

    <div class="columns-3">
        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col items-center pb-10">
                {{ $alistair_image := resources.Get "images/member_photos/alistair.png" }}
                <img class="object-cover w-24 h-24 mb-3 rounded-full shadow-lg" src="{{ $alistair_image.RelPermalink }}" alt="Alistair Image"/>
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Alistair Keiller</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400">Team Captain</span>
            </div>
        </div>
        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col items-center pb-10">
                <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="justin.jpg" alt="Justin Image"/>
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Justin Guoji</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400">Fabrication Lead</span>
            </div>
        </div>
        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col items-center pb-10">
                <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="alinda.jpg" alt="Alinda Image"/>
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Alinda Lau</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400">Marketing/Fundraising Lead</span>
            </div>
        </div>
        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col items-center pb-10">
                <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="ashwin.jpg" alt="Ashwin Image"/>
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Ashwin Naren</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400">Software</span>
            </div>
        </div>
        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col items-center pb-10">
                <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="han.jpg" alt="Han Image"/>
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Han Lu</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400">Design</span>
            </div>
        </div>
        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col items-center pb-10">
                <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="henry.jpg" alt="Henry Image"/>
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Henry Hutchinson</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400">Design, Fabrication</span>
            </div>
        </div>
        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col items-center pb-10">
                <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="neel.jpg" alt="Neel Image"/>
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Neel Gadde</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400">Design</span>
            </div>
        </div>
        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col items-center pb-10">
                <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="veronica.jpg" alt="Veronica Image"/>
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Veronica Howard</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400">Fabrication</span>
            </div>
        </div>
    </div>

    <footer class="post-footer">
        {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
        <ul class="post-tags">
            {{- range ($.GetTerms $tags) }}
            <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
            {{- end }}
        </ul>
        {{- if (.Param "ShowPostNavLinks") }}
        {{- partial "post_nav_links.html" . }}
        {{- end }}
        {{- if (and site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
        {{- partial "share_icons.html" . -}}
        {{- end }}
    </footer>

    {{- if (.Param "comments") }}
    {{- partial "comments.html" . }}
    {{- end }}
</article>

{{- end }}{{/* end main */}}
