$gap: 24px;
$main-width: 720px;
$header-height: 65px;
$footer-height: 20px;

.main {
    position: relative;
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
    max-width: calc(#{$main-width} + #{$gap} * 2);
    margin: auto;
    padding: #{$gap};
}

.page-header h1 {
    font-size: 40px;
}

@layer components {
    div.highlight,
    pre {
        @apply relative
    }
}

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(78, 78, 78, 0.8);
    border-radius: 8px;
    padding: 0 5px;
    font-size: 14px;
    user-select: none;
}

@layer components {
    div.highlight:hover .copy-code,
    pre:hover .copy-code {
        @apply block
    }
}
