@import "node_modules/tailwindcss/base";
@import "node_modules/tailwindcss/components";
@import "node_modules/tailwindcss/utilities";

@import "chroma/chroma-mod";
@import "chroma/chroma-styles";

@import "components/article";
@import "components/darkbutton";
@import "components/footer";

@import "pages/about";
@import "pages/home";
@import "pages/search";

@import "defaults";
@import "legacy";

html {
  -webkit-tap-highlight-color: transparent;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html[data-turbo-visit-direction="forward"]::view-transition-old(sidebar):only-child {
  animation: slide-to-right 0.5s ease-out;
}

@media (prefers-reduced-motion) {
  html[data-turbo-visit-direction="forward"]::view-transition-old(sidebar):only-child {
    animation: none;
  }
}

.top-link {
  visibility: hidden;
  transition: visibility 0.25s, opacity 0.4s linear;
}

.top-link:focus,
#theme-toggle:focus {
  outline: 0;
}
