{{- /* theme-toggle is enabled */}}
{{- if (not site.Params.disableThemeToggle) }}
{{- /* theme is light */}}
{{- if (eq site.Params.defaultTheme "light") }}
<script>
    if (localStorage.getItem("pref-theme") === "dark") {
        document.body.classList.add('dark');
    }

</script>
{{- /* theme is dark */}}
{{- else if (eq site.Params.defaultTheme "dark") }}
<script>
    if (localStorage.getItem("pref-theme") === "light") {
        document.body.classList.remove('dark')
    }

</script>
{{- else }}
{{- /* theme is auto */}}
<script>
    if (localStorage.getItem("pref-theme") === "dark") {
        document.body.classList.add('dark');
    } else if (localStorage.getItem("pref-theme") === "light") {
        document.body.classList.remove('dark')
    } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark');
    }

</script>
{{- end }}
{{- /* theme-toggle is disabled and theme is auto */}}
{{- else if (and (ne site.Params.defaultTheme "light") (ne site.Params.defaultTheme "dark"))}}
<script>
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark');
    }

</script>
{{- end }}

<header class="header">
    <nav>
        <div id="nav-div" class="w-full fixed z-20 top-0 start-0 border-gray-400 dark:border-gray-700 backdrop-blur-3xl backdrop-brightness-200 dark:backdrop-brightness-75 bg-white dark:bg-slate-900 transition-colors duration-500 ease-in-out">
            <div class="max-w-screen-xl items-center justify-between flex flex-wrap mx-auto p-4">
            {{- $label_text := (site.Params.label.text | default site.Title) }}
            {{- if site.Title }}
            <a class="flex items-center space-x-3 rtl:space-x-reverse" href="{{ "" | absLangURL }}" accesskey="h" title="{{ $label_text }} (Alt + H)">
                {{ $icon := resources.Get site.Params.label.icon }}
                {{ $icon := $icon.Process "png" }}
                {{ $icon := $icon.Resize "48x" }}
                <img src="{{- $icon.RelPermalink -}}" alt="{{- site.Params.label.alt | default "Logo" -}}" aria-label="logo"
                    width="32" height="32" class="h-8 rounded-lg">
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">{{- $label_text -}}</span>
            </a>
            {{- end }}
            {{- template "partials/social_icons.html" . }}
            <div class="logo-switches pl-2 mr-auto" style="padding-top: 6px;">
                {{- if (not site.Params.disableThemeToggle) }}
                <div>
                    <label class="day-night-toggle">
                      <input type="checkbox" class="hidden" id="theme-toggle" hidden>
                      <span class="toggle">
                        <span class="clouds-back">
                          <span class="cloud"></span>
                          <span class="cloud"></span>
                          <span class="cloud"></span>
                          <span class="cloud"></span>
                          <span class="cloud"></span>
                          <span class="cloud"></span>
                          <span class="cloud"></span>
                          <span class="cloud"></span>
                        </span>
                        <span class="stars">
                          <span class="star"></span>
                          <span class="star"></span>
                          <span class="star"></span>
                          <span class="star"></span>
                          <span class="star"></span>
                          <span class="star"></span>
                          <span class="star"></span>
                          <span class="star"></span>
                          <span class="star"></span>
                          <span class="star"></span>
                          <span class="star"></span>
                          <span class="star"></span>
                        </span>
                        <span class="sun">
                          <span class="moon"></span>
                        </span>
                        <span class="clouds-front">
                          <span class="cloud"></span>
                          <span class="cloud"></span>
                          <span class="cloud"></span>
                          <span class="cloud"></span>
                          <span class="cloud"></span>
                          <span class="cloud"></span>
                          <span class="cloud"></span>
                          <span class="cloud"></span>
                        </span>
                      </span>
                    </label>
                </div>
                {{- end }}

                {{- $lang := .Lang}}
                {{- $separator := or $label_text (not site.Params.disableThemeToggle)}}
                {{- with site.Home.Translations }}
                <ul class="lang-switch">
                    {{- if $separator }}<li>|</li>{{ end }}
                    {{- range . -}}
                    {{- if ne $lang .Lang }}
                    <li>
                        <a href="{{- .Permalink -}}" title="{{ .Language.Params.languageAltTitle | default (.Language.LanguageName | emojify) | default (.Lang | title) }}"
                            aria-label="{{ .Language.LanguageName | default (.Lang | title) }}">
                            {{- if (and site.Params.displayFullLangName (.Language.LanguageName)) }}
                            {{- .Language.LanguageName | emojify -}}
                            {{- else }}
                            {{- .Lang | title -}}
                            {{- end -}}
                        </a>
                    </li>
                    {{- end -}}
                    {{- end}}
                </ul>
                {{- end }}
            </div>
            <script>
                function toggleSidebar() {
                    const sidebar = document.getElementById('navbar-default');
                    if (sidebar.classList.contains('hidden')) {
                        sidebar.classList.remove('hidden');
                    } else {
                        sidebar.classList.add('hidden');
                    }
                }
            </script>
            <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false" onclick="toggleSidebar()">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>
            {{- $currentPage := . }}
            <div class="w-full md:block md:w-auto hidden" id="navbar-default">
                <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-transparent dark:bg-gray-800 md:dark:bg-transparent dark:border-gray-700">
                    {{- range site.Menus.main }}
                    {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
                    {{- $page_url:= $currentPage.Permalink | absLangURL }}
                    {{- $is_search := eq (site.GetPage .KeyName).Layout `search` }}
                    <li class="block md:flex">
                        {{ $class_list :=  "block py-2 px-3 text-gray-900 rounded md:bg-transparent md:border-0 md:hover:text-red-700 md:p-0 dark:text-white md:dark:hover:text-red-500 dark:hover:text-white" }}
                        {{- if (eq $menu_item_url $page_url) }}
                        {{- $class_list = "block py-2 px-3 text-white bg-red-700 rounded md:bg-transparent md:text-red-700 md:p-0 dark:text-white md:dark:text-red-500" -}}
                        {{- end }}
                        <a class="{{ $class_list }}" href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }} {{- cond $is_search (" (Alt + /)" | safeHTMLAttr) ("" | safeHTMLAttr ) }}"
                        {{- cond $is_search (" accesskey=/" | safeHTMLAttr) ("" | safeHTMLAttr ) }}>
                            {{- .Pre }}
                            {{- .Name -}}
                            {{ .Post -}}
                            {{- if (findRE "://" .URL) }}&nbsp;
                            <svg fill="none" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="2.5" viewBox="0 0 24 24" height="12" width="12">
                                <path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path>
                                <path d="M15 3h6v6"></path>
                                <path d="M10 14L21 3"></path>
                            </svg>
                            {{- end }}
                        </a>
                    </li>
                    {{- end }}
                </ul>
            </div>
            </div>
        </div>
    </nav>
</header>

<script>
    window.addEventListener("scroll", function(evt) {
        let navDiv = document.getElementById('nav-div');
        let topClasses = ["bg-white", "dark:bg-slate-900"];
        let scrollClasses = ["bg-white/10", "dark:bg-slate-900/10", "border-b"]
        if (window.scrollY < 150) {
            for (let i = 0; i < topClasses.length; i++) {
                if (!navDiv.classList.contains(topClasses[i])) {
                    navDiv.classList.add(topClasses[i]);
                }
            }
            for (let i = 0; i < scrollClasses.length; i++) {
                if (navDiv.classList.contains(scrollClasses[i])) {
                    navDiv.classList.remove(scrollClasses[i]);
                }
            }
        } else {
            for (let i = 0; i < topClasses.length; i++) {
                if (navDiv.classList.contains(topClasses[i])) {
                    navDiv.classList.remove(topClasses[i]);
                }
            }
            for (let i = 0; i < scrollClasses.length; i++) {
                if (!navDiv.classList.contains(scrollClasses[i])) {
                    navDiv.classList.add(scrollClasses[i]);
                }
            }
        }
    });
</script>
