{{ define "main" }}
<article class="post-single">
    <header class="page-header">
        <h1>{{ .Title }}</h1>
    </header>
    <div class="post-content">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{ .Content }}
    </div>
</article>

<div class="gap-8 columns-3">
    {{ $image1 := resources.Get "images/homepage_1.png" }}
    {{ $image2 := resources.Get "images/homepage_2.png" }}
    {{ $image3 := resources.Get "images/homepage_3.png" }}
    {{ $image4 := resources.Get "images/homepage_4.png" }}
    {{ $image5 := resources.Get "images/homepage_5.png" }}
    {{ $image6 := resources.Get "images/homepage_6.png" }}
    {{ $image7 := resources.Get "images/homepage_7.png" }}
    {{ $image8 := resources.Get "images/homepage_8.png" }}
    {{ $image1 := $image1.Resize "500x" }}
    {{ $image2 := $image2.Resize "500x" }}
    {{ $image3 := $image3.Resize "500x" }}
    {{ $image4 := $image4.Resize "500x" }}
    {{ $image5 := $image5.Resize "500x" }}
    {{ $image6 := $image6.Resize "500x" }}
    {{ $image7 := $image7.Resize "500x" }}
    {{ $image8 := $image8.Resize "500x" }}
    {{ $image1 := $image1.Process "webp" }}
    {{ $image2 := $image2.Process "webp" }}
    {{ $image3 := $image3.Process "webp" }}
    {{ $image4 := $image4.Process "webp" }}
    {{ $image5 := $image5.Process "webp" }}
    {{ $image6 := $image6.Process "webp" }}
    {{ $image7 := $image7.Process "webp" }}
    {{ $image8 := $image8.Process "webp" }}
    <img class="rounded-lg w-full object-scale-down aspect-4x3 my-8" src="{{ $image1.RelPermalink }}" />
    <img class="rounded-lg w-full object-scale-down aspect-4x3 my-8" src="{{ $image2.RelPermalink }}" />
    <img class="rounded-lg w-full object-scale-down aspect-4x3 my-8" src="{{ $image3.RelPermalink }}" />
    <img class="rounded-lg w-full object-scale-down aspect-4x3 my-8" src="{{ $image4.RelPermalink }}" />
    <img class="rounded-lg w-full object-scale-down aspect-4x3 my-8" src="{{ $image5.RelPermalink }}" />
    <img class="rounded-lg w-full object-scale-down aspect-4x3 my-8" src="{{ $image6.RelPermalink }}" />
    <img class="rounded-lg w-full object-scale-down aspect-4x3 my-8" src="{{ $image7.RelPermalink }}" />
    <img class="rounded-lg w-full object-scale-down aspect-4x3 my-8" src="{{ $image8.RelPermalink }}" />
</div>
{{ end }}
