/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: red; }
}

.typewriter {
    border-right: .15em solid red;
    animation: blink-caret .75s step-end infinite;
}

html[data-turbo-visit-direction="forward"]::view-transition-old(sidebar):only-child {
    animation: slide-to-right 0.5s ease-out;
}


/* TODO: Prefers reduce motion ... */